@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is simple application that allows to view, create, edit and change list of Contacts. To unlock most of the usability of the application you are required to create account and login in.</p>
</div>
